body {
    background-color: #f4f6f9;
}

h1 {
    color: #97d5e8;
    text-align: center;
    font-family: Garamond, Garamond, serif;
}

.cell-parent {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.cell-image {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* filter: brightness(90%); */
}

#connect-four-grid {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    grid-gap: 0px;
    border-collapse: collapse;
}

.grid-row {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* #player-one-color-select {
    width: 15%;
}

#player-two-color-select {
    width: 15%;
} */

.color-select {
    width: 12%;
    margin-left: 2%;
    margin-right: 2%;
}

#color-selects {
    text-align: center;
}

h2 {
    color: #6db6cc;
    /* text-align: center; */
    font-family: Garamond, Garamond, serif;
}

#color-select-title-table {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 440px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}