body {
    background-color: #f4f6f9;
}

h1 {
    color: #97d5e8;
    text-align: center;
    font-family: Garamond, Garamond, serif;
}

.cell-parent {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.cell-image {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#connect-four-grid {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    grid-gap: 0px;
    border-collapse: collapse;
}

.grid-row {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.color-select {
    width: 12%;
    margin-left: 2%;
    margin-right: 2%;
}

#color-selects {
    text-align: center;
}

h2 {
    color: #6db6cc;
    font-family: Garamond, Garamond, serif;
}

#color-select-title-table {
    margin-left: auto;
    margin-right: auto;
    table-layout: auto;
    width: 440px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#ai-button-random {
    background-color: #629995;
    border: none;
    color: rgb(206, 253, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#ai-button-random:hover {
    background-color: #4b7572;
    color: rgb(206, 253, 255);
}

#ai-button-random:active {
    background-color: #33504e;
    color: #33504e;
}

#center-button-random {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 6%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ai-button-reasoned {
    background-color: #629995;
    border: none;
    color: rgb(206, 253, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#ai-button-reasoned:hover {
    background-color: #4b7572;
    color: rgb(206, 253, 255);
}

#ai-button-reasoned:active {
    background-color: #33504e;
    color: #33504e;
}

#center-button-reasoned {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 5.65%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#probability-button {
    background-color: #629995;
    border: none;
    color: rgb(206, 253, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

#probability-button:hover {
    background-color: #4b7572;
    color: rgb(206, 253, 255);
}

#probability-button:active {
    background-color: #33504e;
    color: #33504e;
}

#center-button-probability {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 4.8%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
