body {
    background-color: #f4f6f9;
}

.cell-parent {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.cell-image {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#connect-four-grid {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
    grid-gap: 0px;
    border-collapse: collapse;
}

.grid-row {
    margin: 0px;
    padding: 0px;
    border: 0px;
}